.container {
  &__header {
    display: flex;
    margin-top: 1em;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: 600;
      line-height: 130%;
      font-size: 0.75rem;
      letter-spacing: 0.03em;
      color: #a5a3a9;
    }
  }

  &__content {
    margin-top: 1em;
  }
}
