$active-color: #3363ff;
$option-color: #e6ecff;

.logo {
  width: 100%;
  display: flex;
  align-items: flex-end;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  justify-content: space-between;

  &__icon {
    cursor: pointer;
    padding-bottom: 1.6em;
  }

  img {
    width: 110px;
    height: 110px;
  }
}

.options {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__item {
    gap: 1em;
    width: 240px;
    cursor: pointer;
    margin: 0.4em 0;
    border-radius: 1em;
    color: black;
    padding: 0.5em 0.5em 0.5em 1em;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 0.9em;
    line-height: 116%;
    text-decoration: none;

    &--active,
    &:hover {
      color: $active-color;
      background: $option-color;
    }
  }
}
